# Configuration file

##########################################################################################################
# versioncheck
#--------------------------------------------------------------------------------------------------------#
# Эта настройка для проверки обновлений от iChunUtil.
##########################################################################################################

versioncheck {
    # Как часто вы будете уведомлены об обновлениях?(Настройки клиента)
    # 0 = После подключения к серверу
    # 1 = Раз в день
    # 2 = После нового обновления.
    # 3 = Никогда (Оно только скроет уведомления. Мод всё равно будет слать увеломления в консоль).
    # 
    # Min: 0
    # Max: 3
    I:versionNotificationFrequency=0

    # Как КЛИЕНТ будет получать уведомления об обновлениях? (В сервере обновление всегда будет выводится на консоль. В одиночной игре вы будете признаваться сервером)
    # 0 = Уведомлять об изменениях независимо от статуса игрока (оператор или нет).
    # 1 = Уведомлять только операторов сервера об изменениях (В одиночной всё будет по прежнему отоброжаться)
    # 2 = Разрешить клиенту показывать уведомления об изменениях.
    # 
    # Min: 0
    # Max: 2
    I:versionNotificationTypes=1
}


##########################################################################################################
# versionsave
#--------------------------------------------------------------------------------------------------------#
# Она сохраняет данные для проверки обновлений. Не изменяйте это, если вы не хотите сломать разные вещи.
##########################################################################################################

versionsave {
    I:dayCheck=12
    S:lastCheck=
}


